html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex: 1;
}

::-webkit-scrollbar {
	width: 12px;
}

/*::-webkit-scrollbar-track:hover {
	background: rgba(127, 127, 127, 0.2);
}
::-webkit-scrollbar-track:not(:hover) {
	border-left: 1px solid rgba(127, 127, 127, 0.2);
}*/
::-webkit-scrollbar-track {
	border-left: 1px solid rgba(127, 127, 127, 0.2);
}
::-webkit-scrollbar-thumb {
	/*box-shadow: inset 4px 0 15px rgba(255, 255, 255, 0.1);*/
	/*background: rgba(127, 127, 127, 0.2);*/
	border-left: 1px solid rgba(127, 127, 127, 1);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(127, 127, 127, 0.6);
	box-shadow: inset 4px 0 15px rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb:active {
	background: rgba(127, 127, 127, 1);
	box-shadow: inset 4px 0 15px rgba(255, 255, 255, 0.6);
}

b {
	color: #926AC3;
}
.rec {
	color: rgb(214, 29, 29);
	font-size: smaller;
	font-weight: bold;
	animation: blink-animation 1.5s steps(3, start) infinite;
	-webkit-animation: blink-animation 1.5s steps(3, start) infinite;
}
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
